@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

.chakra-form-control {
  margin-bottom: 1rem;
}

/* Animation */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper.rdrDateRangeWrapper {
  width: 100%;
}

.dv-star-rating {
  font-size: 2rem;
}
